<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg"  v-on:keyup.enter="submit">{{msg}}
        <div v-model="usertabel"></div>
    </div>
    <script src="./vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                bool:false,
                usertabel:[],
                tabel:[],
                msg:'',
            },
            methods:{
                setTabel:function(val){
                    if(val === ''){
                        return;
                    }
                    console.log(val);
                    
                }
            }
        })
    </script>
</body>
</html>