<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block 'title'}}{{/block}}</title>
</head>
<body>
    <header>
        <div>
            <img src="https://storage.lynnn.cn/assets/markdown/91147/pictures/2020/11/bc748cafa0fd4e371a88fcea825d6e1c9d7e35a0.png?sign=b5849f390a5c22cf85f65e8d0945fc6d&t=5fc46c24"/>
        </div>
    </header>
    <div>
        {{block 'content'}}{{/block}}
    </div>
    <footer>
        <div>
            <img src="https://storage.lynnn.cn/assets/markdown/91147/pictures/2020/11/01b48c51eb49c77e422207f29915816a6fe63cbe.png?sign=13de1f5e73405a05cc6a68694fcfafa7&t=5fc46c5e"/>
        </div>
    </footer>
</body>
</html>